table, tr,td{
    text-align: center;
}
.morphed{
    border-bottom: 0.25px solid #48abe0;
    border-right: 0.25px solid #48abe0;
}
.default{
    position: relative;
    block-size: 3rem;
    box-shadow: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}